/*Following is css for tables, which im only using to display leaderboards & such*/
table {
    float:left;
    border-collapse: collapse;
    border: 1px solid black;
    width:30%;
    margin-right: 50px;
    overflow-y: auto;
    height: 700px;
    display: block;
    width: fit-content;
    background-color: #ffffff;
}

/*Setting a background for the header */
.white_bg
{
    background-color: white;
    border-radius: 4em;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

/*Following is stuff to make links not highlight, to be used in the leaderboard.*/
a.nav-link:link
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #000000;
   text-decoration: none;
}
a.nav-link:active
{
   color: #000000;
   text-decoration: none;
}

/* setting a funky fresh backround image */
body {
    background-image: url("pondertheorb.png");
    background-color: #cccccc;
    background-size: cover;
   }