<!doctype html>
<html>
    <head>
      	<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />

	{% if title %}
	<title>{{ title }} - TT_Elo</title>
 	{% else %}
 	<title>TT_Elo</title>
  	{% endif %}
    </head>
    <body>
	<div>
	TT_Elo:
	<a href="{{url_for('index')}}">Home</a>
	{%if current_user.is_anonymous %}
	<a href="{{url_for('login')}}">Login</a>
	{% else %}
        <a href="{{ url_for('user', username=current_user.username) }}">Profile</a>
	<a href="{{ url_for('logout')}}">Logout</a>
	<a href="{{ url_for('update_scores')}}">Update Scores</a>
	{% endif %}
	</div>
	<hr>
	{% with messages = get_flashed_messages() %}
        {% if messages %}
	<ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
	{% endwith %}
	<hr>
        {% block content %}{% endblock %}
	<footer><div align="center"><script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'X8X66USJ4');kofiwidget2.draw();</script></div></footer>
    </body>
</html>
