{% extends "base.html" %}

{% block app_content %}
	{% if current_user.username %}
	<h1><span class="white_bg">Hi, {{ current_user.username }}!</span></span></h1>
	{% else %}
	<h1><span class="white_bg">Hi, you aren't logged in yet!</span></h1>
	{% endif %}
	<table class="home-page">
			<tr>
				<th> Username </th>
				<th> Elo </th>
				<th> Wins </th>
				<th> Losses </th>
				<th> Win%</th>	
			</tr>
			{% for player in players %}
			{% if player.getwins() %}
				<tr >
					<td><a class="nav-link" href="{{ url_for('user', username=player.username) }}"> {{ player.fmt_name() }}</a> </td>
					<td> {{ player.getelo() }}</td>
					<td> {{ player.wins }}</td>
					<td> {{ player.losses }}</td>
					<td> {{ player.winperc() }} </td>
				</tr>
			{% endif %}
			{% endfor %}
	</table>

	<table class="home-page">
		<tr>
			<th> Game ID </th>
			<th> Game winner </th>
			<th> Game loser </th>
			<th> Game Reporter </th>
			<th> Game timestamp </th>
		</tr>
		{% for game in games %}
			<tr>
				<td> {{ game.id }}</td>
				<td> {{ game.get_winner() }}</td>
				<td> {{ game.get_loser() }}</td>
				<td> {{ game.get_reporter() }}</td>
				<td> {{ game.get_time() }}</td>
			</tr>
		{% endfor %}
	</table>
	<div style="float:right">
	<a class="twitter-timeline" data-width="300" data-height="700" href="https://twitter.com/NamesBond4/lists/1465103899497533445?ref_src=twsrc%5Etfw">A Twitter List by NamesBond4</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
{% endblock %}