{% extends "base.html" %}

{% block app_content %}

	{% if current_user.username %}
	<h1>Hi, {{ current_user.username }}!</h1>
	{% else %}
	<h1>Hi, you aren't logged in yet!</h1>
	{% endif %}
	<table style="float:left;border-collapse: collapse;border: 1px solid black;width:30%;margin-right: 50px; overflow-y: auto; height: 700px; display: block; width: fit-content;">
			<tr style="border:1px solid black; border-collapse: collapse;">
				<th style="border:1px solid black; border-collapse: collapse;">Username </th>
				<th style="border:1px solid black; border-collapse: collapse;">Elo </th>
				<th style="border:1px solid black; border-collapse: collapse;">Wins </th>
				<th style="border:1px solid black; border-collapse: collapse;">Losses </th>			
			</tr>
			{% for player in players %}
				<tr style="border:1px solid black; border-collapse: collapse;">
					<td style="border:1px solid black; border-collapse: collapse;">{{ player.username }}</td>
					<td style="border:1px solid black; border-collapse: collapse;">{{ player.getelo() }}</td>
					<td style="border:1px solid black; border-collapse: collapse;">{{ player.wins }}</td>
					<td style="border:1px solid black; border-collapse: collapse;">{{ player.losses }}</td>
				
				</tr>
			{% endfor %}
	</table>

	<table style="float:left;border-collapse: collapse;border: 1px solid black;width:fit-content; overflow-y: scroll; height: 700px; display: block; ">
		<tr style="border:1px solid black; border-collapse: collapse;">
			<th style="border:1px solid black; border-collapse: collapse;">Game ID </th>
			<th style="border:1px solid black; border-collapse: collapse;">Game winner </th>
			<th style="border:1px solid black; border-collapse: collapse;">Game loser </th>
			<th style="border:1px solid black; border-collapse: collapse;">Game Reporter </th>
			<th style="border:1px solid black; border-collapse: collapse;">Game timestamp </th>
		</tr>
		{% for game in games %}
			<tr style="border:1px solid black; border-collapse: collapse;">
				<td style="border:1px solid black; border-collapse: collapse;">{{ game.id }}</td>
				<td style="border:1px solid black; border-collapse: collapse;">{{ game.winner }}</td>
				<td style="border:1px solid black; border-collapse: collapse;">{{ game.loser }}</td>
				<td style="border:1px solid black; border-collapse: collapse;">{{ game.reporter }}</td>
				<td style="border:1px solid black; border-collapse: collapse;">{{ game.timestamp }}</td>
			</tr>
		{% endfor %}
	</table>
	<div style="float:right">
	<a class="twitter-timeline" data-width="300" data-height="700" href="https://twitter.com/NamesBond4/lists/1465103899497533445?ref_src=twsrc%5Etfw">A Twitter List by NamesBond4</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
{% endblock %}