{% extends "base.html" %}

{% block app_content %}
<h1><span class="white_bg">Sign In</span></h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <span class="white_bg">{{ form.username.label }}</span><br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            <span class="white_bg">{{ form.password.label }}</span><br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><span class="white_bg">{{ form.remember_me() }} {{ form.remember_me.label }}</span></p>
        <p>{{ form.submit() }}</p>
	 <p><span class="white_bg">New User? <a href="{{ url_for('register') }}">Click to Register!</a></span></p>
    </form>
{% endblock %}
