{% extends "base.html" %}

{% block app_content %}
	<h1>Update Scores</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.winner.label }}<br>
			{{ form.winner(size=32) }}<br>
			{% for error in form.winner.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.loser.label }}<br>
			{{ form.loser(size=32) }}<br>
			{% for error in form.loser.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}
