{% extends "base.html" %}

{% block app_content %}    
        <img src="{{ user.avatar(128) }}">
        <h1><span class="white_bg">User: {{ user.username }}</span></h1>
	    {% if user.about_me %}<p><span class="white_bg">{{ user.about_me }}</span></p>{% endif %}
            {% if user.last_seen %}<p><span class="white_bg">Last seen on: {{ user.get_last_seen() }}</span></p>{% endif %}
	    {% if user == current_user %}
                <p><span class="white_bg"><a href="{{ url_for('edit_profile') }}">Edit your profile</a></span></p>
                {% endif %}
		{% if user.elo %}<p><span class="white_bg">Elo: {{ user.getelo() }} </span></p>{% endif %}
		{% if user.wins %}<p><span class="white_bg">Wins: {{ user.wins }} </span></p>{% endif %}
		{% if user.losses %}<p><span class="white_bg">Losses: {{ user.losses }} </span></p>{% endif %}
		{% if user.getwins() %}<p><span class="white_bg">Games played: {{user.getwins()}} </span></p>{%endif%}


{% endblock %}
